<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width">

<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="game.css">

	<title>GAME</title>
</head>
<script>
	var i = 0;
	var func = function()
	{
		var elem = document.getElementById("rulesscreen");
		console.log(window.getComputedStyle(elem,null).getPropertyValue("right"));
		var x = window.getComputedStyle(elem,null).getPropertyValue("right");
		//console.log(document.getElementById('rulesscreen').style.right);
		if(x != "0px")
		{
			console.log("if");
			document.getElementById('rulesscreen').className += " rulesshow";
				console.log(document.getElementsByClassName('rule'));
	//		for(int i=0;i<document.getElementsByClassName('rule').length;i++)
	//			i.className += " slideup";
		for(i=0;i<document.getElementsByClassName('rule').length;i++)
				{	console.log(i);
//					if(check==1)
//					{
					document.getElementsByClassName('rule')[i].className += " slideup";

//					}
//					else
//					{
//					document.getElementsByClassName('rule')[i].className -= " slideup";
//					check = 1;
//					}
				}

		}


		else
		{
			console.log("else");
			document.getElementById('rulesscreen').className = "rules";
			console.log(document.getElementsByClassName('rule'));
	//		for(int i=0;i<document.getElementsByClassName('rule').length;i++)
	//			i.className -= " slideup";
		
					for(i=0;i<document.getElementsByClassName('rule').length;i++)
				{	console.log(i);
//					if(check==1)
//					{
					document.getElementsByClassName('rule')[i].className = "rule";

				}

		}
	}

	var enable = function()
	{

		var elem = document.getElementById("submitbutton").disabled = false

	}
//var currentlevel = 	document.getElementById("levelid").value;
</script> 
<body
<% if(finished==1) { %>
style="background-color: #77A6F7;"
<% } %>
>
	<div class="rules" id="rulesscreen">
	<a id="closebutton" onclick="func()">&times;</a>
	<h2>RULES</h2>
	<h3 class="rule">A total of 34 scenarios will be given.</h3>	
	<h3 class="rule">Each scenario will have 10 questions.</h3>
   	<h3 class="rule">Each question will have 4 options, out of which only one will be correct.</h3>
	<h3 class="rule">A participant can leave the game only after that particular scenario which he is attempting gets over lest that particular scenario will get restarted when resumes the game.</h3>
	<h3 class="rule">A participant can skip or save a question. At the 10th level of every scenario he gets the opportunity to restart the scenario.</h3>
	<h3 class="rule">Cumulative points after a scenario will be reflected when the scenario is submitted, and nowhere during the scenario.</h3>
	<h3 class="rule">The point system is as follows:
		<br><h4 class="rule">+3 points for correct answers</h4>
		<br><h4 class="rule">-1 points for wrong answers</h4>
		<br><h4 class="rule">No points deducted for no attempted question</h4>
    </h3 class="rule">
    <h3 class="rule">In case of tie breaker, time is on your side</h3>
	</div>

<div id="maindiv">
<% if(finished==1) {%>
<div id="overdiv">

<h3>Thank You for playing emergency zone.</h3>
<h5>You have a total of 
<%= user.points %>
 points.	
</h5>

<footer><p>Developed with <span>&#9829;</span> by Tushar Shahi</p></footer>
</div>

<% } else { %>
<div id="usercard">
<div><h3><%= user.local.username %></h3></div>
<div>
<h3>LEVEL</h3>
<h4 id="levelid"><%= user.level %></h4>
</div>
<div>
<h3>POINTS</h3>
<h4><%= user.points %></h4>
</div>
<div>
<h3><a href="/logout" id="logoutbutton">LOGOUT</a></h3>
</div>
</div>
<h4>SCENARIO
<%= user.scenario %></h4>

<div id="questioncard">
<!--<h2>Scenario Statement</h2> -->
<p><%= scenario %></p>
<form action="/submitanswer" method="post">
<p id="questionstatement"><%= question.statement %></p>
<br>
	<div>
	<div>
	<div>
  <label for="answer1"><input type="radio" name="submittedanswer" value="a" id="answer1" onclick="enable()"><span><%= question.options[0] %></span></label>
  </div>
  <div>
  <label for="answer2"><input type="radio" name="submittedanswer" value="b" id="answer2" onclick="enable()"><span><%= question.options[1] %></span></label>
  </div>
  <div>
  <label for="answer3"><input type="radio" name="submittedanswer" value="c" id="answer3" onclick="enable()"><span><%= question.options[2] %></span></label>
  </div>
  <div>
  <label for="answer4"><input type="radio" name="submittedanswer" value="d" id="answer4" onclick="enable()"><span><%= question.options[3] %></span></label>
  
  </div>
  </div>
  </div>
  <br><br>
  <div id="submitbar">
	 <input type="submit" name="submitanswer" id="submitbutton" value=
	 <% if(user.level!=10) { %>
	 "Save"
	 <% } else { %>
	 "Submit"
	 <%}%>
	 disabled="disabled" />
 	 <input type="submit" name="submitanswer" id="submitbutton2" value="Skip">
 	 <% if(user.level == 10){ %>
 	     <input type="submit" name="submitanswer" id="submitbutton3" value="Restart Scenario"> 
 	     <% } %>
  </div>
<input type="hidden" name="foo" value= 
<%= user.level %> 
/>
</form>

<div id="navbar">
<h2><a href="/leaderboard">LeaderBoard</a></h2>
<h2 style="border-left: 1px solid #fff;"><a onclick="func()">Rules</a></h2>
</div>

</div>
<% } %>
</div>

</body>
</html>