<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="game.css">

	<title>GAME</title>
</head>
<script>
	var i = 0;
	var func = function()
	{
		var elem = document.getElementById("rulesscreen");
		console.log(window.getComputedStyle(elem,null).getPropertyValue("right"));
		var x = window.getComputedStyle(elem,null).getPropertyValue("right");
		//console.log(document.getElementById('rulesscreen').style.right);
		if(x != "0px"){
						console.log("if");
		document.getElementById('rulesscreen').className += " rulesshow";}
		else
		{
			console.log("else");
		document.getElementById('rulesscreen').className = "rules";
			
		}
	}

	var enable = function()
	{

		var elem = document.getElementById("submitbutton").disabled = false

	}
</script> 
<body>
	<div class="rules" id="rulesscreen">
	<a id="closebutton" onclick="func()">&times;</a>
	<h2>RULES</h2>
	<h3 class="rule">A total of 36 scenarios will be given.</h3>	
	<h3 class="rule">Each scenario will have 10 questions.</h3>
   	<h3 class="rule">Each question will have 4 options, out of which only one will be correct.</h3>
	<h3 class="rule">A participant can leave the game only after that particular scenario which he is attempting gets over lest that particular scenario will get restarted when resumes the game.</h3>
	<h3 class="rule">The point system is as follows:
		<br><h4 class="rule">+3 points for correct answers</h4>
		<br><h4 class="rule">-1 points for wrong answers</h4>
		<br><h4 class="rule">No points deducted for no attempted question</h4>
    </h3 class="rule">
    <h3 class="rule">In case of tie breaker, time is on your side</h3>
	</div>

<div>
<div id="usercard">
<div><h3><%= user.local.username %></h3></div>
<div>
<h3>LEVEL</h3>
<h4><%= user.level %></h4>
</div>
<div>
<h3>POINTS</h3>
<h4><%= user.points %></h4>
</div>
<div>
<h3><a href="/logout" id="logoutbutton">LOGOUT</a></h3>
</div>
</div>
<h4>SCENARIO
<%= user.scenario %></h4>

<% if(flag){  %>
<div id="pointsnotification">
<% if(flag>0) { %>
<h2>&#x2714;</h2>
<% } else {%>
<h2>&#10060;</h2>
<% } %>
</div>
<% } %>
<div id="questioncard">
<!--<h2>Scenario Statement</h2> -->
<p><%= scenario %></p>
<form action="/submitanswer" method="post">
<p id="questionstatement"><%= question.statement %></p>
<br>
	<div>
	<div>
	<div>
  <label for="answer1"><input type="radio" name="submittedanswer" value="a" id="answer1" onclick="enable()"><span><%= question.options[0] %></span></label>
  </div>
  <div>
  <label for="answer2"><input type="radio" name="submittedanswer" value="b" id="answer2" onclick="enable()"><span><%= question.options[1] %></span></label>
  </div>
  <div>
  <label for="answer3"><input type="radio" name="submittedanswer" value="c" id="answer3" onclick="enable()"><span><%= question.options[2] %></span></label>
  </div>
  <div>
  <label for="answer4"><input type="radio" name="submittedanswer" value="c" id="answer4" onclick="enable()"><span><%= question.options[3] %></span></label>
  </div>
  </div>
  </div>
  <br><br>
  <div id="submitbar">
	 <input type="submit" name="submitanswer" id="submitbutton" disabled="disabled" />
 	<input type="submit" name="submitanswer" id="submitbutton2" value="Skip">
  </div>
</form>

<div id="navbar">
<h2><a href="/leaderboard">LeaderBoard</a></h2>
<h2 style="border-left: 1px solid #fff;"><a onclick="func()">Rules</a></h2>
<!--<a href="/logout"><h2>Logout</h2></a> -->
</div>
</div>
</div>
<script>
	function waitForElement(elementId, callBack){
  window.setTimeout(function(){
    var element = document.getElementById(elementId);
    if(element){
    callBack(elementId, element);
    }else{
      waitForElement(elementId, callBack);
    }
  },500)
}

waitForElement('pointsnotification',function()
	{
		  document.getElementById('pointsnotification').className += "hide";
    	
	});
</script>
</body>
</html>